.portfolio {
    text-align: center;
    margin: 20px;
    background-color: yellow;
  }
  
  .project {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #ead2f1;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  nav {
    margin: 20px;
  }
  
  ol {
    display: inline;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  